@font-face {
    font-family: 'stmicons';
    src: url('stmicons.eot?wudxbj');
    src: url('stmicons.eot?wudxbj#iefix') format('embedded-opentype'), url('stmicons.ttf?wudxbj') format('truetype'), url('stmicons.woff?wudxbj') format('woff'), url('stmicons.svg?wudxbj#stmicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="stmicon-"], [class*=" stmicon-"] {
    font-family: 'stmicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stmicon-box:before {
    content: "\e9dd";
}

.stmicon-write:before {
    content: "\e9de";
}

.stmicon-clock5:before {
    content: "\e9df";
}

.stmicon-reply4:before {
    content: "\e9e0";
}

.stmicon-reply-all:before {
    content: "\e9e1";
}

.stmicon-forward:before {
    content: "\e9e2";
}

.stmicon-flag:before {
    content: "\e9e3";
}

.stmicon-search4:before {
    content: "\e9e4";
}

.stmicon-trash:before {
    content: "\e9e5";
}

.stmicon-envelope2:before {
    content: "\e9e6";
}

.stmicon-bubble:before {
    content: "\e9e7";
}

.stmicon-bubbles:before {
    content: "\e9e8";
}

.stmicon-user2:before {
    content: "\e9e9";
}

.stmicon-users:before {
    content: "\e9ea";
}

.stmicon-cloud:before {
    content: "\e9eb";
}

.stmicon-download3:before {
    content: "\e9ec";
}

.stmicon-upload:before {
    content: "\e9ed";
}

.stmicon-rain:before {
    content: "\e9ee";
}

.stmicon-sun:before {
    content: "\e9ef";
}

.stmicon-moon:before {
    content: "\e9f0";
}

.stmicon-bell:before {
    content: "\e9f1";
}

.stmicon-folder:before {
    content: "\e9f2";
}

.stmicon-pin3:before {
    content: "\e9f3";
}

.stmicon-sound:before {
    content: "\e9f4";
}

.stmicon-microphone4:before {
    content: "\e9f5";
}

.stmicon-camera:before {
    content: "\e9f6";
}

.stmicon-image4:before {
    content: "\e9f7";
}

.stmicon-cog:before {
    content: "\e9f8";
}

.stmicon-calendar2:before {
    content: "\e9f9";
}

.stmicon-book:before {
    content: "\e9fa";
}

.stmicon-map-marker2:before {
    content: "\e9fb";
}

.stmicon-store:before {
    content: "\e9fc";
}

.stmicon-support3:before {
    content: "\e9fd";
}

.stmicon-tag:before {
    content: "\e9fe";
}

.stmicon-heart2:before {
    content: "\e9ff";
}

.stmicon-video-camera:before {
    content: "\ea00";
}

.stmicon-trophy:before {
    content: "\ea01";
}

.stmicon-cart2:before {
    content: "\ea02";
}

.stmicon-eye32:before {
    content: "\ea03";
}

.stmicon-cancel:before {
    content: "\ea04";
}

.stmicon-chart:before {
    content: "\ea05";
}

.stmicon-target:before {
    content: "\ea06";
}

.stmicon-printer:before {
    content: "\ea07";
}

.stmicon-location3:before {
    content: "\ea08";
}

.stmicon-bookmark:before {
    content: "\ea09";
}

.stmicon-monitor:before {
    content: "\ea0a";
}

.stmicon-cross:before {
    content: "\ea0b";
}

.stmicon-plus:before {
    content: "\ea0c";
}

.stmicon-left:before {
    content: "\ea0d";
}

.stmicon-up:before {
    content: "\ea0e";
}

.stmicon-browser:before {
    content: "\ea0f";
}

.stmicon-windows:before {
    content: "\ea10";
}

.stmicon-switch:before {
    content: "\ea11";
}

.stmicon-dashboard:before {
    content: "\ea12";
}

.stmicon-play3:before {
    content: "\ea13";
}

.stmicon-fast-forward:before {
    content: "\ea14";
}

.stmicon-next:before {
    content: "\ea15";
}

.stmicon-refresh:before {
    content: "\ea16";
}

.stmicon-film:before {
    content: "\ea17";
}

.stmicon-home:before {
    content: "\ea18";
}